### cppstats folders
## log folder
log/
## temporary files folder
tmp/
## folder of sample projects used locally
projects/
## virtual environment
virtualenv/


### cppstats temporary files
## sample cppstats list-input
cppstats_input.txt

## backup or compiled files
*.pyc
*.orig
*.bak
*.swp
*.swo


### Python template
# Distribution / packaging
*.egg-info/
.eggs/
build/
dist/

### JetBrains files
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/


### TeX files
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# beamer
*.nav
*.snm
*.vrb

# todonotes
*.tdo
