tmp
*.pyc
*.orig
*.bak
*.swp
*.swo
cppstats_input.txt
log


*.aux
*.bbl
*.bit
*.blg
*.dvi
*.glo
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.tox
*.nav
*.fls
*.snm
*.toc
*.fdb_latexmk
*.swp
*.tdo
*.bak
*.synctex.gz
